%h1 Anmelden

%p
  Wenn Du Dich bei 
  %i Demowatch 
  registriert hast, kannst Du Dich hier anmelden und deine pers&ouml;nlichen Themengebiete via Newsletter abonnieren sowie Informationen zu einzelnen Demos verfolgen.

%p
  Wenn du noch kein Konto hast, registriere dich
  =link_to '<b><i>hier.</i></b>', :signup

%h2 Anmeldedaten

- form_tag session_path do 

  %p  
    = label_tag :login, 'Login'
    = text_field_tag :login


    = label_tag :password, 'Passwort'
    = password_field_tag :password


    = label_tag :remember_me, 'Automatisch einloggen'
    = check_box_tag :remember_me

    =submit_tag 'Anmelden'

