
%h1 Presse

%h2 Meldungen über uns

.q
  Hier tragen wir alle ein, die was über uns schreiben und von denen wir wissen:
  %ul
    %li= link_to h("14.12.2008 - de.indymedia.org"), "http://de.indymedia.org/2008/12/236097.shtml"
    %li= link_to h("6.12.2008 - netzwertig.com"), "http://netzwertig.com/2008/12/06/samstag-app-fieber-demowatch-device-dode-und-mehr/"
    %li= link_to h("5.12.2008 - alles2null.de"), "http://www.alles2null.de/berufs-demonstanten-haben-jetzt-ein-zentrales-organisations-portal/2023/"
    %li= link_to h("3.12.2008 - MoMB"), "http://momb.socio-kybernetics.net/beta/demowatch"
    %li= link_to h("30.11.2008 - eliterator.blog.de"), "http://eliterator.blog.de/2008/11/30/demowatch-de-erinnerungsservice-demos-netz-5133206"
    %li= link_to h("23.11.2008 - twitter.com"), "http://twitter.com/silentdan/statuses/1019360729"
  Sie können gerne 
  =link_to h("neue Publikation melden."), "mailto:info@demowatch.de"
  
%h2 Demowatch Link-Button
.q 
  Zur freien Verwendung diese Bilder über Demowatch (am besten mit Link auf demowatch.de auf die eigene Seite einbinden):
.q
  .center
    = image_tag('demowatch_linkbutton.gif')
