
%h1= @tag.name 
- if logged_in? && current_user.tags.include?(@tag)
  .center <i>(abonniert)</i>

%h2 Demonstrationen
- if @events.empty? 
  .q Zu diesem Thema sind zur Zeit keine Demonstrationen eingetragen.
- else
  .tabletitle Die folgenden Demonstrationen sind uns zu diesem Thema bekannt:
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th Termin
      %th Demo
      %th Ort
      - if( @with_distance)
        %th Entfernung
      
    - @events.each_with_index do |event, index|
      %tr{:class => "#{'even' if index.even?}"}
        %td= event.startdate && event.startdate.strftime('%d.%m.%Y')
        %td= link_to event.title, event
        %td= event.address
        -if @with_distance       
          - if !event.distance.nil?
            %td= sprintf( "%.0f km", event.distance)  
          - else
            %td
%h2 Initiatoren

- if @organisations.empty? 
  .q Zur Zeit sind keine Initiatoren eingetragen, die sich mit diesem Thema besch&auml;ftigen..
- else
  .tabletitle Die folgenden Organisationen setzen sich f&uuml;r dieses Thema ein:
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th Initiator
      %th Themen
    - @organisations.each_with_index do |organisation, index|
      %tr{:class => "#{'even' if index.even?}"}
        %td= link_to organisation.title, organisation
        %td= organisation.tags.map{|tag| link_to tag.name, tag}.join(', ')

%br

%h2 Verwandte Themen
.q= @related_tags.map{|tag| link_to tag.name, tag}.join(', ')

.contextmenu
  - if logged_in?
    - if current_user.tags.include? @tag 
      = link_to 'Thema abbestellen', :controller => :users, :action => :del_tag, :id => current_user, :tag => @tag
    - else
      = link_to 'Thema abonnieren', :controller => :users, :action => :add_tag, :id => current_user, :tag => @tag
    |
  = link_to 'Was bedeutet <i>"' + @tag.name + '"</i>?', 'http://de.wikipedia.org/wiki/Spezial:Suche?search=' + @tag.name + '&go=Artikel', { :target=>'_new'}
