
%h1= @tag.name 

%h2 Demonstrationen

%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %th Demo
    %th Ort
    %th Termin
  - @events.each_with_index do |event, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to event.title, event
      %td= event.zip + ' ' + event.city
      %td= event.startdate && event.startdate.strftime('%d.%m.%Y')

%h2 Initiatoren

%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %th Initiator
    %th Themen
  - @organisations.each_with_index do |organisation, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to organisation.title, organisation
      %td= organisation.tags.map{|tag| link_to tag.name, tag}.join(', ')

%br

.contextmenu
  - if logged_in?
    = link_to 'Thema abonnieren', ''
  |
  = link_to 'Was ist <i>' + @tag.name + '</i>?', 'http://de.wikipedia.org/wiki/Spezial:Search?ns0=1&search=' + @tag.name + '&fulltext=Suche', { :target=>'_new'}
