- content_for :header do
  = auto_discovery_link_tag :rss, :controller => 'events', :format => 'rss', :tags => @tag.name

.rss= link_to image_tag('rss.gif'), :controller => 'events', :format => 'rss', :tags => @tag.name if !@events.empty? 

%h1= h @tag.name 

.contextmenu
  - if logged_in?
    - if current_user.tags.include? @tag 
      = link_to 'Thema abbestellen', :controller => :users, :action => :del_tag, :id => current_user, :tag => @tag
    - else
      = link_to 'Thema abonnieren', :controller => :users, :action => :add_tag, :id => current_user, :tag => @tag
    |
  = link_to 'Was bedeutet <i>"' + h( @tag.name)+ '"</i>?', 'http://de.wikipedia.org/wiki/Spezial:Suche?search=' + @tag.name + '&go=Artikel', { :target=>'_new'}

%h2 Demonstrationen
- if @events.empty? 
  .q Zu diesem Thema sind zur Zeit keine Demonstrationen eingetragen.
- else
  .tabletitle Die folgenden Demonstrationen sind uns zu diesem Thema bekannt:
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th Termin
      %th Demo
      %th Ort
      - if( @with_distance)
        %th Entfernung
      
    - @events.each_with_index do |event, index|
      %tr{:class => "#{'even' if index.even?} #{'old' if event.startdate <= 6.hours.ago}"}
        - if event.startdate.strftime('%d.%m.%Y') == Time.now.strftime('%d.%m.%Y')
          %td
            .center
              .red Heute!
        - elsif event.startdate <= Time.now && event.startdate > 6.hours.ago
          %td
            .center
              .red Jetzt!
        - else
          %td= event.startdate && event.startdate.strftime('%d.%m.%Y')
        %td= link_to h( event.title), event
        %td= h( event.address)
        -if @with_distance       
          - if !event.distance.nil?
            %td= sprintf( "%.0f km", event.distance)  
          - else
            %td
%h2 Initiativen

- if @organisations.empty? 
  .q Zur Zeit sind keine Initiativen eingetragen, die sich mit diesem Thema besch&auml;ftigen..
- else
  .tabletitle Die folgenden Organisationen setzen sich f&uuml;r dieses Thema ein:
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th Initiative
      %th Themen
    - @organisations.each_with_index do |organisation, index|
      %tr{:class => "#{'even' if index.even?}"}
        %td= link_to h( organisation.title), organisation
        %td= organisation.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

%br

- if !@related_tags.empty?
  %h2 Verwandte Themen
  .q= @related_tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

