.q= f.error_messages 

%h2 Ben&ouml;tigte Daten

.q
  = f.label :title, 'Name'
  = f.text_field :title, :size=>60

.q
  = f.label :tag_list, 'Themen <i>(mehrere durch Komma getrennt)</i>'
  = f.text_field :tag_list, :size=>60, :autocomplete => "off"
  #organisation_tag_list_auto_complete.auto_complete{:style=>'display:none'}
  = auto_complete_field 'organisation_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' '] }
.q
  Bedenke, dass die Wahl der Themen, deren Popularit&auml;t auf <i>Demowatch.de</i> beeinflusst.


.q
  = f.label :description, 'Beschreibung' 
  = f.text_area :description, :cols=>60

-# TINYMCE
:javascript
  tinyMCE.init({
  mode : "textareas",
  theme : "advanced",
  theme_advanced_buttons1 : "bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo, link,unlink",
  theme_advanced_buttons2 : "",
  theme_advanced_buttons3 : "",
  theme_advanced_toolbar_location : "top",
  theme_advanced_toolbar_align : "left",
  theme_advanced_statusbar_location : "bottom",  
  content_css : "/stylesheets/application.css",
  language : 'de',
  });

%h2 Optionale Daten
.indent
  = f.label :link, 'Webseite'
  = f.text_field :link, :size=>60

%h2 Hinweis

.q
  Wir wollen unseren Besuchern stets m&ouml;glichst korrekte und seri&ouml;se Informationen zu stattfindenden Demonstrationen bieten. <u>Alle verfassungs- oder gesetzeswidrigen Inhalte werden von uns umgehend gel&ouml;scht</u> und deren Verfasser ggf. auf <i>Demowatch.de</i> gesperrt!

%h2 Bedingungen

.q
  = f.check_box :confirm, {:style=>'display:block; float: left;margin-right: 10px;'}
  %b Ich best&auml;tige hiermit, dass ich von der eingegebenen Organisation dazu berechtigt bin, auf <i>Demowatch.de</i> Veranstaltungen einzutragen.
