%h1 Initiatoren
- if logged_in? 
  .contextmenu
    = link_to 'Neuer Initiator', new_organisation_path
%br
.tabletitle
  Folgende Initiatoren tragen Ihre Aktionen bei
  %i Demowatch.de 
  ein:
%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %th Initiator
    %th Themen
  - @organisations.each_with_index do |organisation, index|
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to h( organisation.title), organisation 
      %td= organisation.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ') 
= will_paginate @organisations