%h1 Neuer Veranstalter

- form_for(@organisation) do |f| 
  = f.error_messages

  = f.label :title, 'Name'
  = f.text_field :title, :size=>70

  = f.label :description, 'Beschreibung'
  = f.text_area :description, :cols=>80 

  = f.label :tag_list, 'Tags'
  = f.text_field :tag_list, :size=>70, :autocomplete => "off"
  #organisation_tag_list_auto_complete.auto_complete{:style=>'display:none'}

  %p=f.submit "Erzeugen" 

= link_to 'Zurück', organisations_path 

= auto_complete_field 'organisation_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' '] }
