
%h1= @organisation.title
%p= @organisation.description
%p 
  <b>Themen:</b>
  = @organisation.tags.map{|tag| link_to tag.name, tag}.join(', ')

.contextmenu
  = link_to 'Zur&uuml;ck zur Liste der Initiatoren', organisations_path
  |
  = link_to 'Bearbeiten', edit_organisation_path(@organisation) 
  |
  = link_to 'Löschen', @organisation, :confirm => 'Diese Initiator wirklich l&ouml;schen?', :method => :delete
  - if logged_in? 
    |
    - if @organisation.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :organisation => @organisation)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :organisation => @organisation)
    