
%h1= @organisation.title
%h2 Themen
%p= @organisation.tags.map{|tag| link_to tag.name, tag}.join(', ')
%h2 Beschreibung
%p= @organisation.description
- if @organisation.link
  %h3 Weitere Informationen
  %p= link_to @organisation.link, @organisation.link, { :target=>'_new'}

- if logged_in? 
  .contextmenu
    - if may_edit? @organisation
      = link_to 'Bearbeiten', edit_organisation_path(@organisation) 
      |
      = link_to 'Löschen', @organisation, :confirm => 'Diese Initiator wirklich l&ouml;schen?', :method => :delete
      |
    - if @organisation.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :organisation => @organisation)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :organisation => @organisation)
      
