
%h1= h @organisation.title

- if logged_in? 
  .contextmenu
    - allow :user => [:owns?, :is_admin?] do
      = link_to 'Bearbeiten', edit_organisation_path(@organisation) 
      |
      = link_to 'Löschen', @organisation, :confirm => 'Diesen Initiator wirklich l&ouml;schen?', :method => :delete
      |
    - if @organisation.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :organisation => @organisation)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :organisation => @organisation)

%h2 Themen
.q= @organisation.tags.map{|tag| link_to h(tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')
%h2 Beschreibung
.q= sanitize @organisation.description
- if @organisation.link
  %h3 Weitere Informationen
  .q= sanitize(  link_to( h( @organisation.link), @organisation.link, { :target=>'_new'}))

      
