
%h1= @organisation.title
%p= @organisation.description
%p 
  <b>Tags:</b>
  - @organisation.tags.each do |tag|
    = link_to tag.name, :controller => "front", :action => "show", :id => tag.id

= link_to 'Edit', edit_organisation_path(@organisation) 
|
= link_to 'Löschen', @organisation, :confirm => 'Are you sure?', :method => :delete
|
= link_to 'Organisationen', organisations_path
