
%h1= @organisation.title
%p= @organisation.description
%p 
  <b>Themen:</b>
  - @organisation.tags.each do |tag|
    = link_to tag.name, :controller => "front", :action => "show", :id => tag.id

= link_to 'Zur&uuml;ck zur Liste der Initiativen', organisations_path
|
= link_to 'Bearbeiten', edit_organisation_path(@organisation) 
|
= link_to 'Löschen', @organisation, :confirm => 'Diese Initiative wirklich l&ouml;schen?', :method => :delete
- if logged_in? 
  |
  = link_to 'Bookmark', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :organisation => @organisation)
