%h1 Einstellungen

- form_for(@user) do |f| 
  = f.error_messages 

  %h2 Daten

  = f.label :login, 'Name'
  = f.text_field :login, :size=>60

  = f.label :email, 'Email'
  = f.text_field :email, :size=>60

  = f.label :zip, 'Plz'
  = f.text_field :zip, :size=>60

  %h2 Abonnements

  = f.label :tag_list, 'Themen'
  = f.text_field :tag_list, :size=>60, :autocomplete => "off" 
  #user_tag_list_auto_complete.auto_complete{:style=>'display:none'}

  = f.label :bookmarks, 'Demos & Initiativen'
  %ul
    - @user.bookmarks.each do |bm|
      %li= bm.title

  = f.submit "Speichern"

.contextmenu
  = link_to 'Anzeigen', @user  

= auto_complete_field 'user_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' '] }
