%h1 Registrierung
Wenn Du Dich bei <i>Demowatch</i> registrierst, kannst Du Dich hier anmelden und deine pers&ouml;nlichen Themengebiete via Newsletter abonnieren sowie Informationen zu einzelnen Demos vefolgen.
%h2 Ben&ouml;tigte Daten

- form_for :user, :url => users_path do |f|
  %p
    = error_messages_for :user
  
    = f.label :login, 'Login'
    = f.text_field :login 

    = f.label :email, 'E-Mail <i>(f&uuml;r Themenabos)</i>'
    = f.text_field :email 

    = f.label :password, 'Passwort'
    = f.password_field :password 

    = f.label :password_confirmation, 'Passwort best&auml;tigen'
    = f.password_field :password_confirmation 
  
    = submit_tag 'Registrieren'
