%h1= @user.login

%h2 Daten

%p
  %b Name:
  = @user.login 

%p
  %b Email:
  = @user.email 

%h2 Abonnements

%p
  %b Themen:
  = @user.tag_list 

%p
  %b Demos & Inititativen:
  %ul
    - @user.bookmarks.each do |bm|
      %li= link_to bm.title, bm.bookmarkable

.contextmenu
  =link_to 'Bearbeiten', edit_user_path(@user)
