- content_for :header do
  = auto_discovery_link_tag :rss, :controller => 'events', :format => 'rss', :tags => @user.tags.join(',')

%h1= @user.login

.contextmenu
  =link_to 'Bearbeiten', edit_user_path(@user)
%br
.q 
  Die von Dir hier angegebenen Daten werden von uns streng vertraulich 
  behandelt und weder auf dieser Website ver&ouml;ffentlicht noch an 
  Dritte weitergegeben.

%h2 Deine Daten

.q
  %b Name:
  = @user.login 

.q
  %b Email:
  = @user.email 

.q
  %strong PLZ:
  - unless @user.zip.nil?
    = @user.zip.zip
    = @user.zip.name
     
%h2 Von Dir verwaltete Inhalte
- unless @organisations.empty?
  %h3 Initiatoren
  .q= @organisations.map{|organisation| link_to organisation.title, organisation}.join(', ')

- unless @events.empty?
  %h3 Demonstrationen
  .q= @events.map{|event| link_to event.title, event}.join(', ')

%h2 Deine Abonnements

%h3 Themen
.q= @user.tags.map{|tag| link_to tag.name, tag}.join(', ')
.q
  = link_to image_tag('rss.gif',:class => 'rss'), :controller => 'events', :format => 'rss', :tags => @user.tags.join(',') if !@user.tags.empty? 
  = link_to 'Diese Themen als RSS Feed abonnieren', :controller => 'events', :format => 'rss', :tags => @user.tags.join(',') if !@user.tags.empty? 

%h3 Demos & Inititativen
.q
  %ul
    - @user.bookmarks.each do |bm|
      %li= link_to bm.title, bm.bookmarkable

