%h1= @user.login

%p 
  Die von Dir hier angegebenen Daten werden von uns streng vertraulich 
  behandelt und weder auf dieser Website ver&ouml;ffentlicht noch an 
  Dritte weitergegeben.

%h2 Deine Daten

%p
  %b Name:
  = @user.login 

%p
  %b Email:
  = @user.email 

%p
  %b PLZ:
  = @user.zip 

- if @user.organisations.size>0
  %h2 Deine Initiatoren
  %p= @user.organisations.map{|organisation| link_to organisation.title, organisation}.join(', ')

%h2 Deine Demonstrationen
%p Diese Feature fehlt noch!    

%h2 Deine Abonnements

%h3 Themen
%p= @user.tags.map{|tag| link_to tag.name, tag}.join(', ')

%h3 Demos & Inititativen
%p
  %ul
    - @user.bookmarks.each do |bm|
      %li= link_to bm.title, bm.bookmarkable

-if may_edit? @user
  .contextmenu
    =link_to 'Bearbeiten', edit_user_path(@user)
