%h2 Ben&ouml;tigte Angaben
%p= f.error_messages

%p
  = f.label :title, 'Name'
  = f.text_field :title, :size=>60

%p
  = f.label :tag_list, 'Themen <i>(mit Komma getrennt)</i>'
  = f.text_field :tag_list, :size=>60, :autocomplete => "off"
  #event_tag_list_auto_complete.auto_complete{:style=>'display:none'}

%h3 Treffpunkt
%p
  = f.label :zip, 'PLZ'
  = f.text_field :zip, :size=>60

%p
  = f.label :city, 'Ort'
  = f.text_field :city, :size=>60

%p
  = f.label :location, 'Treffpunktbeschreibung (z.B. Adresse)'
  = f.text_field :location, :size=>60

%p
  = f.label :startdate, 'Begin'
  = datetime_select :event, :startdate 

/
  = f.text_field :startdate, :size=>20
  #startcal.scal.tinyscal.googleblue
  #scalupdate &nbsp;
  
  :javascript
    var startcal = new scal('startcal', 'event_startdate', {weekdaystart: 1, updateformat:'dd.mm.yyyy'});

%h3 Informationen
%p
  = f.label :description, 'Beschreibung' 
  = f.text_area :description, :cols=>60

%p
  = f.label :organisation, 'Initiator'
  = select_tag 'event[organisation_id]', options_from_collection_for_select(@organisations, "id", "title", @event.organisation_id)

%h2 Optionale Angaben
%p
  = f.label :link, 'Webseite'
  = f.text_field :link, :size=>60

= f.hidden_field :user_id
