= f.error_messages

= f.label :title, 'Name'
= f.text_field :title, :size=>60

= f.label :description, 'Beschreibung' 
= f.text_area :description, :cols=>60

= f.label :zip, 'Plz'
= f.text_field :zip, :size=>60

= f.label :city, 'Ort'
= f.text_field :city, :size=>60

= f.label :location, 'Treffpunkt'
= f.text_field :location, :size=>60

= f.label :startdate, 'Begin'
= datetime_select :event, :startdate 

= f.label :link, 'Webseite'
= f.text_field :link, :size=>60

/
  = f.text_field :startdate, :size=>20
  #startcal.scal.tinyscal.googleblue
  #scalupdate &nbsp;
  
  :javascript
    var startcal = new scal('startcal', 'event_startdate', {weekdaystart: 1, updateformat:'dd.mm.yyyy'});

= f.label :tag_list, 'Themen'
= f.text_field :tag_list, :size=>60, :autocomplete => "off"
#event_tag_list_auto_complete.auto_complete{:style=>'display:none'}

= f.label :organisation, 'Initiative'
= select_tag 'event[organisation_id]', options_from_collection_for_select(@organisations, "id", "title", @event.organisation_id)

= f.hidden_field :user_id
