%h1 Demonstration bearbeiten

- form_for(@event) do |f|
  = f.error_messages 

  = f.label :title, 'Name'
  = f.text_field :title, :size=>60

  = f.label :description, 'Beschreibung' 
  = f.text_area :description, :cols=>60
  
  = f.label :startdate, 'Begin'
  = datetime_select :event, :startdate 
  
  = f.label :tag_list, 'Tags'
  = f.text_field :tag_list, :size=>60, :autocomplete => "off"
  #event_tag_list_auto_complete.auto_complete{:style=>'display:none'}

  = f.label :organisation, 'Organisation'
  = select_tag 'event[organisation_id]', options_from_collection_for_select(@organisations, "id", "title", @event.organisation_id)

  = f.hidden_field :user_id

  = f.submit "Speichern" 

= link_to 'Show', @event 
|
= link_to 'Back', events_path

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
