%h1 Demonstration bearbeiten

- form_for(@event, :html => { :onSubmit => 'return geocodeAddress(event_zip);' }) do |f|
  = render :partial => 'fields', :locals => {:f => f}
  = f.submit "Speichern" 

.contextmenu
  = link_to 'Show', @event 
  |
  = link_to 'Back', events_path

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
