%h1 Demonstration bearbeiten

- form_for(@event) do |f|
  %p= render :partial => 'fields', :locals => {:f => f}
  %p= f.submit "Speichern" 

.contextmenu
  = link_to 'Show', @event 
  |
  = link_to 'Back', events_path

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
