- content_for :header do
  = auto_discovery_link_tag :rss, :format => 'rss'

.rss= link_to image_tag('rss.gif'), :format => 'rss'

%h1 Demonstrationen

- if logged_in? 
  .contextmenu
    = link_to 'Neue Demonstration', new_event_path
%br
.tabletitle
  Folgende Aktionen wurden von registrierten Initiatoren bei 
  %i Demowatch.de 
  eingetragen:
%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %th Termin 
    %th Demo
    %th Ort
    - if( @with_distance)
      %th Entfernung
  - @events.each_with_index do |event, index|
    %tr{:class => "#{'even' if index.even?} #{'old' if event.startdate <= 6.hours.ago}"}
      - if event.startdate <= Time.now && event.startdate > 6.hours.ago
        %td
          .center
            .red Jetzt!
      - else
        %td= event.startdate && event.startdate.strftime('%d.%m.%Y')
      %td= link_to event.title, event
      %td= event.city
      -if @with_distance       
        - if !event.distance.nil?
          %td
            .right= sprintf( "%.0f km", event.distance)  
        - else
          %td
= will_paginate @events
%br
