
%h1= @event.title
%p= @event.description
%p
  %b Organisation:
  = link_to @event.organisation.title, @event.organisation 
%p
  %b Termin:
  = @event.startdate && @event.startdate.strftime('%d.%m.%Y %H:%m')  
%p
  %b Ort:
  = "#{@event.zip} #{@event.city}"
  %br
  = @event.location  
%p 
  %b Themen:
  = @event.tags.map{|tag| link_to tag.name, tag}.join(', ')
%p
  %b Webseite:
  = link_to @event.link, @event.link

.contextmenu
  = link_to 'Zur&uuml;ck zur Liste der Demonstrationen', events_path
  |
  = link_to 'Bearbeiten', edit_event_path(@event) 
  |
  = link_to 'L&ouml;schen', @event, :confirm => 'Demonstration wirklich l&ouml;schen?', :method => :delete
  - if logged_in? 
    |
    - if @event.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :event => @event)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :event => @event)
    