- content_for :header do
  = javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAV-gl-D0mGjXgP0Y1sjJZtxSjPBiS_7Y-DxOB4kQXfnvB-YwYkxTWiU0TA-Uupx18X0aM4dugHMWUuQ&dummy=xxxx', 'geocode'
  
%h1= @event.title
%h2 Themen
%p= @event.tags.map{|tag| link_to tag.name, tag}.join(', ')
%h2 Treffpunkt
%p
  Diese Demo beginnt am
  %strong= @event.startdate && @event.startdate.strftime('%A, %d.%m.%Y')  
  um
  %strong= @event.startdate && @event.startdate.strftime('%H:%M Uhr')  

%p 
  Treffpunkt ist
  %b== #{@event.address}#{' (' + @event.location + ')' if @event.location?}.
  
#map_canvas.indent{:style=>"width: 500px; height: 300px"}
  
:javascript
  if (GBrowserIsCompatible()) {
  var map = new GMap2(document.getElementById("map_canvas"));
  map.addControl(new GLargeMapControl());
  map.setCenter(new GLatLng(#{@event.latitude.to_f}, #{@event.longitude.to_f}), 15);
  map.openInfoWindowHtml(map.getCenter(),"<strong>#{@event.title},</strong>"+
  "<br/><br/>#{@event.startdate && @event.startdate.strftime('%A, %d.%m.%Y')},"+
  "um #{@event.startdate && @event.startdate.strftime('%H:%M Uhr')},<br/>"+
  "#{@event.address}<br/>#{'(' + @event.location + ')' if @event.location?}");}
  
%h2 Beschreibung
%p= @event.description

%h3 Initiator
%p
  Diese Demo wurde eingetragen von
  = link_to @event.organisation.title, @event.organisation 

- if @event.link
  %h3 Weitere Informationen
  %p= link_to @event.link, @event.link, { :target=>'_new'}

- if logged_in?
  .contextmenu
    - allow :user => [:owns?, :is_admin?] do
      = link_to 'Bearbeiten', edit_event_path(@event) 
      |
      = link_to 'L&ouml;schen', @event, :confirm => 'Demonstration wirklich l&ouml;schen?', :method => :delete
      |
    - if @event.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :event => @event)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :event => @event)
    
