
%h1= @event.title
%h2 Themen
%p= @event.tags.map{|tag| link_to tag.name, tag}.join(', ')
%h2 Treffpunkt
%p
  Diese Demo beginnt am
  %b= @event.startdate && @event.startdate.strftime('%A %d.%m.%Y')  
  um
  %b= @event.startdate && @event.startdate.strftime('%H:%M Uhr')  

%p 
  Treffpunkt ist
  %b
    = @event.address
  - if @event.location?
    = '(', @event.location,  ')'
  = '.'
%h2 Beschreibung
%p= @event.description

%h3 Initiator
%p
  Diese Demo wurde eingetragen von
  = link_to @event.organisation.title, @event.organisation 

- if @event.link
  %h3 Weitere Informationen
  %p= link_to @event.link, @event.link, { :target=>'_new'}

- if logged_in?
  .contextmenu
    - allow :user => [:owns?, :is_admin?] do
      = link_to 'Bearbeiten', edit_event_path(@event) 
      |
      = link_to 'L&ouml;schen', @event, :confirm => 'Demonstration wirklich l&ouml;schen?', :method => :delete
      |
    - if @event.bookmarked_by_user? current_user
      = link_to 'Abbestellen', url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :event => @event)
    - else
      = link_to 'Abonnieren', url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :event => @event)
    
