!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  
    -#%title= page_title
    = javascript_include_tag 'prototype', 'effects', 'controls', :cache => true
    = stylesheet_link_tag :all
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
  %body
    -#= render :partial => "shared/messages"
    #header
      =link_to image_tag('demowatch.png'), :front
      %ul
        %li=link_to 'Was ist Demowatch?', :about
        -if logged_in?
          %li=link_to 'Abmelden', :logout
        -else
          %li=link_to 'Anmelden', :login
          %li=link_to 'Registrieren', :signup
        %li.last=link_to 'Impressum', :impressum

    .tabs
      %ul
        - tabs = [['Themen', url_for(:front)], ['Demos', url_for(:controller => 'events')], ['Veranstalter', url_for(:controller => 'organisations')]]
        - tabs.each do |label, link|
          %li
            %a.xmenu2{:href=>link}
              <b class="xsnazzy"><b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
              %span.xboxcontent= label
              </b>
      
      /    
        %img{:src=>"/images/lh_tab.png"}
        =link_to 'Themen', :front
        %img{:src=>"/images/rh_tab.png"}
        %img{:src=>"/images/l_tab.png"}
        =link_to 'Demos', :controller => 'events'
        %img{:src=>"/images/r_tab.png"}
        %img{:src=>"/images/l_tab.png"}
        =link_to 'Veranstalter', :controller => 'organisations'
        %img{:src=>"/images/r_tab.png"}
        
    .balloon
      .title=flash[:notice]
      .body
        = @content_for_layout
        
    #footer
      =image_tag 'people.png'
      %center
        %small &copy; 2008 Patrick Hoffmann
