!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title Demowatch.de - unabh&auml;ngige Plattform f&uuml;r politische Demonstrationen
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  
    = javascript_include_tag 'prototype', 'effects', 'controls', :cache => true
    = stylesheet_link_tag :all
    
    = yield :header
  %body.main
    #header
      =link_to image_tag('demowatch_beta.gif'), :front
      %ul
        %li=link_to 'Was ist Demowatch?', :about
        %li=link_to 'Demo eintragen', new_event_path
        -if logged_in?
          %li=link_to 'Abmelden', :logout
          %li=link_to 'Einstellungen', user_path(current_user)
        -else
          %li=link_to 'Anmelden', :login
          %li=link_to 'Registrieren', :signup
        %li=link_to 'Presse', :presse
        %li.last=link_to 'Impressum', :impressum

    .tabs
      %ul
        - tabs = [['Themen', front_path], ['Demos', events_path], ['Initiativen', organisations_path]]
        - tabs.each do |label, link|
          %li
            %a{:href=>link, :class=>"xmenu2 #{'selected' if link == request.request_uri}"}
              <strong class="xsnazzy"><strong class="xtop"><strong class="xb1"></strong><strong class="xb2"></strong><strong class="xb3"></strong><strong class="xb4"></strong></strong>
              %span.xboxcontent= label
              </strong>
        
    .balloon
      .title
      .body
        -if flash[:notice]
          .message= flash[:notice]
        =yield
      .bottom
        
    #footer
      =image_tag 'people.gif'

      &copy; 2008 Patrick Hoffmann -
      = link_to 'Haftungsausschluss', :disclaimer
