!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  
    -#%title= page_title
    = javascript_include_tag 'prototype', 'effects', 'controls', :cache => true
    = stylesheet_link_tag :all
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
  %body
    -#= render :partial => "shared/messages"
    #header
      =link_to image_tag('demowatch_beta.gif'), :front
      %ul
        %li=link_to 'Was ist Demowatch?', :about
        -if logged_in?
          %li=link_to 'Abmelden', :logout
          %li=link_to 'Einstellungen', user_path(current_user)
        -else
          %li=link_to 'Anmelden', :login
          %li=link_to 'Registrieren', :signup
        %li.last=link_to 'Impressum', :impressum

    .message= flash[:notice]

    .tabs
      %ul
        - tabs = [['Themen', front_path], ['Demos', events_path], ['Initiatoren', organisations_path]]
        - tabs.each do |label, link|
          %li
            %a{:href=>link, :class=>"xmenu2 #{'selected' if link == request.request_uri}"}
              <b class="xsnazzy"><b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
              %span.xboxcontent= label
              </b>
        
    .balloon
      .title
      .body= @content_for_layout
      .bottom
        
    #footer
      =image_tag 'people.gif'
      %center
        %small &copy; 2008 Patrick Hoffmann
